@import "modern-normalize/modern-normalize.css";
@import "basscss/css/basscss-cp.css";

@import "component/modal.css";
@import "component/loading-indicator.css";

html, body {
  font-size: 16px;
  /* https://bitsofco.de/the-new-system-font-stack/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.full {
  width: 100%;
}
.max-width {
  max-width: 1280px;
}
